<div class="card text-center">
    <div class="card-header">
        <h4 class="card-title">Detalle de compra</h4>
    </div>
    <div class="card-body" *ngFor="let product of products">
        <div *ngIf="product.id == 1">
        <table>
            <tr>
                <th>ID Orden de compra:</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>ID del proveedor:</th>
                <td>{{ product.provider[0].id}}</td>
            </tr>
            <tr>
                <th>Nombre del proveedor:</th>
                <td>{{ product.provider[0].name }}</td>
            </tr> 
            <tr>
                <th>ID del producto:</th>
                <td>{{ product.products[0].id }}</td>
            </tr>
            <tr>
                <th>Nombre del producto:</th>
                <td>{{ product.products[0].name }}</td>
            </tr>
            <tr>
                <th>Costo unitario del producto:</th>
                <td>{{ product.products[0].price }} Bs</td>
            </tr>
            <tr>
                <th>Cantidad de productos:</th>
                <td>{{ product.amountProduct }}</td>
            </tr>
            <tr>
                <th>Monto total a pagar:</th>
                <td>{{ product.totalAmount}} Bs.</td>
            </tr>
        </table>
    </div>
    </div>
    <div class="card-header">

    </div>
</div>