<div class="container" style="margin-top: 70px;">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div>
        <form [formGroup]="form" (ngSubmit)="createOrder()">
          <div class="form-group">
            

            <label for="name">Estado</label>
            <input formControlName="state" name="state" type="text" class="form-control" id="name" aria-describedby="nameHelp">

            <label for="name">Tipo de recepcion</label>
            <input formControlName="receivedType" name="receivedType" type="text" class="form-control" id="name" aria-describedby="nameHelp">

            <label for="name">Estado del pago</label>
            <input formControlName="paymentStatus" name="paymentStatus" type="text" class="form-control" id="name" aria-describedby="nameHelp">

            <label for="name">Monto total</label>
            <input formControlName="totalAmount" name="totalAmount" type="text" class="form-control" id="name" aria-describedby="nameHelp">

            <label for="name">Monto del balance</label>
            <input formControlName="balanceAmount" name="balanceAmount" type="text" class="form-control" id="name" aria-describedby="nameHelp">

            <label for="name">Cantidad del producto</label>
            <input formControlName="amountProduct" name="amountProduct"type="text" class="form-control" id="name" aria-describedby="nameHelp">
          
          </div>
          <button class="btn btn-primary"  type="submit">Crear orden</button>
        </form>
       
      </div>
    </div>
  </div>
</div>